| ---
| title: E-Skills Week 2012
| layout: boilerytics
| ---

style 
  h1 {
    text-align: center;
    color: #FF8900;
  }
  h2, h3, h4 {
    color: #FF8900;
  }
  #toc {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0 0 0 15px;
    padding: 15px;
    height: 100%;
    background: rgba(0,0,0,0.2);
    overflow: auto;
    border-right: 1px solid rgba(255,255,255,0.05);
  }
  #toc li {
    padding: 0;
    list-style: none;
  }
  #container-custom {
    margin: 0 auto;
    padding-top: 80px;
    width: 550px;
  }
  #wrapper {
    width: 100%;
    min-height: 800px;
  }
  #note {
    text-align: center;
    color: #888;
  }
#wrapper
  .container-fluid#container-custom
    .sidebar.sidebar-fluid.span2
        #toc
          h3 Contents
          ul
            li
              a(href='#Moores-law') Moore's Law &raquo;
            li
              a(href='#Mainframes') Mainframes &raquo;
            li
              a(href='#PCs') PCs &raquo;
    .content.span12
        .row
          .span12
            h1 E.ĮGŪDŽIŲ SAVAITĖ 2012
        .row.t2
          .span12
            div Hewlett-Packard Lietuva, 2012-04-24
            a(name='Moores-law')
            h2.span12
              a(href='http://en.wikipedia.org/wiki/Moore%27s_law') Moore's Law
            p 1965 m. vienas iš būsimų 
            a(href='http://www.intel.com/') Intel
            |  įkūrėjų 
            a(http://en.wikipedia.org/wiki/Gordon_E._Moore) Gordon E. Moore
            |  parašė straipsnį “
            a(href='http://download.intel.com/museum/Moores_Law/Articles-Press_Releases/Gordon_Moore_1965_Article.pdf') Kaip sukimšti daugiau komponentų į integrines schemas
            | “
            p Esmė: tranzistorių skaičius duotame schemos plote dvigubėja kasmet ir tai vyks bent artimiausius 10 metų.
            p 1975 m. Moore patikslina formuluotę: kas 2 metai. Jo kolega David House teigė - schemų greitaveika dvigubėja kas 18 mėnesių.
            p Po beveik 50 metų Moore’s Law vis dar lemia technologijų vystymąsi.
            p Nuo 1965 m. pagal šį dėsnį turėjo įvykti 23 komponentų skaičiaus dvigubėjimo ciklai, viso <b>2<sup>23</sup> = 8 388 608 kartus</b>, ir 31 greitaveikos dvigubėjimo ciklas, t.y. <b>2<sup>31</sup> ~= 2 milijardai kartų</b>.
            p Kinta:
            ul
              li komponentų tankis
              li schemų greitaveika
              li vienos schemos kaina
              li energijos sunaudojimas
            p 1972 m. rudenį Lietuva atsilikusi nuo Vakarų technologijų apie 10 metų. Tuometinė technika atitiko maždaug 1962 m. geriausius pasaulio pasiekimus.
            h3 Minsk-22M
            ul
              li 1965-1975
              li Dažnis: 5 kHz (5000 op/s)
              li Atmintis: 8192 žodžiai po 37 bitus (37 kilobaitai), 1.4 mm feritai (core memory)
              li Patalpos plotas: 40 m2
              li Energijos sunaudojimas: 4 kW
            img(src='Minsk-22M.jpg')
            h3 EC-1020 (IBM S/360-40 kopija)
            ul
              li 1975
              li Greitaveika: 20 000 op/s
              li Atmintis: 256 kilobaitai
              li Disko talpa: 7.25 megabaito
              li Valstybinio masto piratavimas
            h3 EC-1035 (IBM S/370-135 kopija)
            ul
              li