| ---
| title: E-Skills Week 2012
| layout: boilerzoom
| ---

style 
  h1 {
    text-align: center;
    color: #FF8900;
  }
  h2, h3, h4 {
    color: #FF8900;
  }
  #toc {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0 0 0 15px;
    padding: 15px;
    height: 100%;
    background: rgba(0,0,0,0.2);
    overflow: auto;
    border-right: 1px solid rgba(255,255,255,0.05);
  }
  #toc li {
    padding: 0;
    list-style: none;
  }
  #container-custom {
    margin: 0 auto;
    padding-top: 80px;
    width: 550px;
  }
  #wrapper {
    width: 100%;
    min-height: 800px;
  }
  #note {
    text-align: center;
    color: #888;
  }
  html, body, #main, .zoomViewport, .zoomContainer {
    width: 100%;
    height: 100%;
  }
  .zoomDiv {
    width: 20%;
    height: 20%;
    font-size: 1%;
  }

.zoomViewport
  .zoomContainer
    .zoomTarget.zoomDiv
      .row
        h1.span12 E.ĮGŪDŽIŲ SAVAITĖ 2012
      .row.t2
        .span12
          div(align='right') Hewlett-Packard Lietuva, 2012-04-24

    .zoomTarget.zoomDiv
        .row
          .span12
            a(name='Moores-law')
              h2
                a(href='http://en.wikipedia.org/wiki/Moore%27s_law') Moore's Law
            p 1965 m. vienas iš būsimų 
              a(href='http://www.intel.com/') Intel
              |  įkūrėjų 
              a(http://en.wikipedia.org/wiki/Gordon_E._Moore) Gordon E. Moore
              |  parašė straipsnį “
              a(href='http://download.intel.com/museum/Moores_Law/Articles-Press_Releases/Gordon_Moore_1965_Article.pdf') Kaip sukimšti daugiau komponentų į integrines schemas
              | “
            p Esmė: tranzistorių skaičius duotame schemos plote dvigubėja kasmet ir tai vyks bent artimiausius 10 metų.
            p 1975 m. Moore patikslina formuluotę: kas 2 metai. Jo kolega David House teigė - schemų greitaveika dvigubėja kas 18 mėnesių.
            p Po beveik 50 metų Moore’s Law vis dar lemia technologijų vystymąsi.
            p Nuo 1965 m. pagal šį dėsnį turėjo įvykti:
            ul
              li 23 komponentų skaičiaus dvigubėjimo ciklai, viso <b>2<sup>23</sup> = 8 388 608 kartus</b>
              li ir 31 greitaveikos dvigubėjimo ciklas, t.y. <b>2<sup>31</sup> ~= 2 milijardai kartų</b>
            p Tobulėjant technologijoms, kinta:
            ul
              li komponentų tankis
              li schemų greitaveika
              li vienos schemos kaina
              li energijos sunaudojimas

    .zoomTarget.zoomDiv
          .span12
            a(name='Mainframes')
              h2 Mainframe (ESM) epocha
            p 1972 m. rudenį SSSR ir Lietuva atsilikę nuo Vakarų technologijų apie 10 metų. Tuometinė technika atitiko maždaug 1962 m. geriausius pasaulio pasiekimus.
            h3 Minsk-22M
            ul
              li 1965-1975
              li Dažnis: 5 kHz (5000 op/s)
              li Atmintis: 8192 žodžiai po 37 bitus (37 kilobaitai), 1.4 mm feritai (core memory)
              li Patalpos plotas: 40 m
                sup 2
              li Energijos sunaudojimas: 4 kW
            img(src='Minsk-22M.jpg', title='Minsk-22M')
            h3
              a(href='http://infcd.metodist.ru/soft/computer/virtmuseum/museum/russian/es-1020.htm') EC-1020
              |  (IBM S/360-40 kopija)
            ul
              li 1971
              li Greitaveika: 20 000 op/s
              li Atmintis: 64 kilobaitai
              li Disko talpa: 7.25 megabaito
              li Energijos sunaudojimas: 21 kW
              li Patalpos plotas: 100 m
                sup 2
              li DOS/360
              li Valstybinio masto piratavimas
              li Atsilikimas nuo Vakarų: 10 metų
            img(src='EC1020.jpg', title='EC1020',style='width: 480px;')
            h3
              a(href='http://computer-museum.ru/histussr/es_hist.htm') EC-1022
            ul
              li 1975
              li Greitaveika: 80 000 op/s
              li Atmintis: 256 kilobaitai
              li Disko talpa: 29 megabaito
              li Energijos sunaudojimas: 25 kW
              li Patalpos plotas: 108 m
                sup 2
              li OS/360
              li Atsilikimas nuo Vakarų: 8 metai
            h3 EC-1035
            ul
              li 1977
              li Greitaveika: 1 000 000 op/s
              li Atmintis: 1 megabaitas
              li Disko talpa: 100 megabaitų
              li Energijos sunaudojimas: 40 kW
              li Patalpos plotas: 110 m
                sup 2
              li OS/VS1, OS/VS2, VM/370, VM/SP
              li Atsilikimas nuo Vakarų: 7 metai
            h3
              a(href='http://aics-research.com/first3k.html') HP 3000
            ul
              li 1973
              li Kaina $ 100 000
            img(src='HP3000.jpg', title='HP 3000')

    .zoomTarget.zoomDiv
          .span12
            a(name='PCs')
              h2 Personalinių kompiuterių atsiradimas
            h3
              a(href='http://www.homecomputer.de/pages/easteurope_ussr.html#10') BK-0010
            ul
              li 1985
              li CPU: K1801BM1 (PDP-11)
              li ROM: 8 kilobaitai
              li Atmintis: 16 kB programoms, 16 kB ekranui
              li Ekranas (TV): 32x24 ženklų (4 spalvos) arba 62x24x2 (J/B)
              li FOCAL
            img(src='Elektronika_BK-0010.jpg', title='Elektronika BK-0010')
            h3
              a(href='http://www.homecomputer.de/pages/easteurope_ussr.html#11') BK-0011M
            ul
              li 1990
              li CPU: K1801BM1-3
              li ROM: 32 kilobaitai
              li Atmintis: 32 kB
              li Ekranas (TV): 512x256 px (J/B) arba 256x256 (4 spalvos)
              li ANDOS, FOCAL, Vilnius Basic
            img(src='Elektronika_BK-0011M.jpg', title='Elektronika BK-0011M')
            h3
              a(href='http://www.leningrad.su/museum/show_calc.php?n=248') EC-1841
            ul
              li 1987
              li CPU: KP1810BM86 (Intel 8086 clone)
              li Greitaveika: 4.77 MHz
              li Atmintis: 640 kB
              li HDD: 20 MB
              li Ekranas: CGA
              li MS DOS
            p
              img(src='ec1841-1.jpg', title='EC-1841',style='width: 480px')
            p
              img(src='EC1840-mouse.jpg', title='EC-1840 mouse')
            h3 IBM PC/AT
            ul
              li 1984-1987
              li CPU: Intel 80286
              li Greitaveika: 6-8 MHz
              li Atmintis: 512 kB
              li HDD: 20 MB
              li Ekranas: CGA
              li PC DOS 3.0
            img(src='IBM_AT_System_s1.jpg', title='IBM PC AT')
            h3 Compaq Portable 386
            ul
              li 1985
              li CPU: Intel 80386-20
              li Greitaveika: 20 MHz
              li Atmintis: 512 kB
              li HDD: 20 MB
              li Ekranas: CGA
              li PC DOS 3.0
            img(src='Compaq_Portable386.jpg', title='Compaq Portable 386')
            h3 AST PowerExec 4/33SL ColorPlus
            ul
              li 1995
              li CPU: Intel 486
              li Greitaveika: 33 MHz
              li Atmintis: 16 MB
              li HDD: 200 MB
              li Ekranas: VGA (640x480)
              li MS Windows 3.1
            h3 Desktop
            ul
              li 1999
              li CPU: Intel Pentium III
              li Greitaveika: 800 MHz
              li Atmintis: 128 MB
              li HDD: 8 GB
              li Ekranas: 1024x768
              li MS Windows NT
          .span12
            a(name='XXI')
              h2 XXI amžius
            h3 HP OmniBook 6000
            ul
              li 2000
              li CPU: Intel Pentium III
              li Litografija: 250 nm
              li Greitaveika: 1000 MHz
              li Atmintis: 128 MB
              li HDD: 30 GB
              li Ekranas: 1400x1050
              li MS Windows 2000
            h3 Automobilis
            ul
              li 2003
              li 35 mikroprocesoriai
              li optinis kabelis jungia galinės ir priekinės dalių elektronikos blokus
            h3 Compaq NW8000 Mobile Workstation
            ul
              li 2003
              li CPU: Intel Pentium M
              li Litografija: 130 nm
              li Greitaveika: 1.6 GHz
              li Atmintis: 1 GB
              li HDD: 60 GB
              li Ekranas: 1600x1200
              li MS Windows XP
            h3 Compaq 8710w Mobile Workstation
            ul
              li 2007
              li CPU: Intel Core Duo T7700
              li Litografija: 65 nm
              li Greitaveika: 2x2.40 GHz
              li Atmintis: 3 GB
              li HDD: 120 GB
              li Ekranas: 1920x1200
              li Grafika: Quadro FX 1600M, 512MB, 32@625MHz
              li MS Windows Vista
            h3 HP EliteBook 8560w Mobile Workstation
            ul
              li 2011
              li CPU: Intel i7 Sandy Bridge
              li Litografija: 32 nm
              li Greitaveika: 2x4x2.30 GHz
              li Atmintis: 8 GB
              li HDD: 500 GB
              li Ekranas: 1920x1080
              li Grafika: NVidia Quadro 2000M, 2GB, 192@550MHz
              li MS Windows 7
            h3 Nokia N800 Internet Tablet
            ul
              li 2008
              li CPU: ARM TI OMAP 2420
              li Litografija: 90 nm
              li Greitaveika: 400 MHz CPU, 220 MHz DSP, 2D/3D graphics
              li Atmintis: 128 MB
              li SD: 4 GB
              li Ekranas: 800x480, 4.13"
              li Svoris: 206 g
              li Maemo Linux
            h3 HTC Desire
            ul
              li 2010
              li CPU: ARMv7 Qualcomm QSD8250 Snapdragon
              li Grafika: Adreno 200
              li Litografija: 65 nm
              li Greitaveika: 1 GHz Scorpion
              li Atmintis: 576 MB
              li SD: 16 GB
              li Ekranas: 800x480, 3.7"
              li Android 2.3 (Linux)
            h3 HP Touchpad
            ul
              li 2011
              li CPU: ARMv7 Qualcomm Snapdragon S3 APQ8060
              li Grafika: Adreno 220
              li Litografija: 45 nm
              li Greitaveika: 2x1.5 GHz
              li Atmintis: 1 GB
              li Flash: 32 GB
              li Ekranas: 1024x768
              li webOS 3.0 (Linux)
            h3 Arduino
            ul
              li 2009
              li CPU: Atmel 8-bit AVR RISC
              li Atmintis: 8 kB
              li Dažnis: 16 MHz
              li Flash: 256 kB
            img(src='220px-Arduino_Duemilanove_2009b.jpg', title='Arduino')
            h3 Automobilis
            ul
              li 2011
              li > 100 mikroprocesorių
              li programinė įranga: 100 M kodo eilučių (naikintuve: 5 M eilučių)
            h3
              a(href='http://en.wikipedia.org/wiki/Intel_Tick-Tock') Intel Tick-Tock
            ul
              li 2006-01-05: Tick 65nm Presler, Cedar Mill, Yonah
              li 2006-07-27: Tock 65nm Core
              li 2007-11-11: Tick 45nm Penryn
              li 2008-11-17: Tock 45nm Nehalem
              li 2010-01-04: Tick 32nm Westmere
              li 2011-01-09: Tock 32nm Sandy Bridge
              li 2012-04-23: Tick 22nm Ivy Bridge
              li 2013-04/06: Tock 22nm Haswell
              li 2014: Tick 14nm Broadwell
              li 2015: Tock 14nm Skylake
              li 2016: Tick 10nm Skymont
              li 2017: Tock 10nm

    .zoomTarget.zoomDiv
        .row
          .span12
            a(name='Biologija')
              h2 Biologija
            h3 DNR
            ul
              li Ketvertainis kodas
              li 4 skirtingi nukleotidai A-C-T-G
              li 3 nukleotidų seka (kodonas) koduoja vieną iš 20 amino rūgščių (galimos 64 kombinacijos)
              li vieno geno amino rūgščių seka aprašo atskirą baltymą, fermentą, enzimą
              li nukleotido dydis: 0.33 nm
              li spiralės storis: 2.5 nm
            h3
              a(href='http://en.wikipedia.org/wiki/Human_genome') Žmogaus genomas
            ul
              li 23 000 genų
              li moterys: 3194 M bazinių nukleotidų porų (22+XX)
              li vyrai: 3098 M bazinių nukleotidų porų (22+XY)
              li ilgiausia pirmoji chromosoma: 220 M nukleotidų porų
              li žmogaus DNR ilgis: 2 m
              li 800 MB kodas
              li 949MB FASTA formate gzip suspausta informacija
              li variacijas nuo bendro genomo galima suspausti iki 4 MB
              li kiekvienas individas turi 10
                sup 14
              |  lastelių, kiekviena su pilna genomo kopija
              li lastelių dydis:
                ul
                  li E-coli bakterija: 3x0.6 μm
                  li mitochondrija: 4x0.8 μm
                  li mielės: 3x4 μm
                  li raudonieji kraujo kūneliai: 8μm
                  li odos lastelė: 30 μm
                  li ameba: 500 μm
              li odos lastelėje telpa 1 M elementų schema pagal Ivy Bridge technologiją (22nm x 1000 x 1000), po 6 metų: 10 M
              li raudonajame kraujo kūnelyje telpa 100 000 elementų schema
            h3 Technological Singularity
            ul
              li 2045
              li Ray Kurzweil
              li Vernor Vinge
              li Kim Eric Drexler

    .zoomTarget.zoomDiv
        .row
          .span12
            a(name='Software')
              h2 Programinė įranga (Software)
            h3
              a(href='http://en.wikipedia.org/wiki/History_of_programming_languages') Programavimo kalbos
            ul
              li 1957: FORTRAN
              li 1958: Algol
              li 1959: COBOL
              li 1964: BASIC
              li 1964: PL/I
              li 1970: Pascal
              li 1972: C
              li 1978: SQL
              li 1980: C++
              li 1983: Ada
              li 1984: MATLAB
              li 1986: Objective-C
              li 1987: Perl
              li 1991: Python
              li 1991: HTML
              li 1993: Ruby
              li 1995: Java
              li 1995: JavaScript
              li 1995: PHP
              li 1998: XML
              li 2000: C#
              li 2003: Scala
              li 2009: Go
              li 2011: Dart
              li 2011: HTML5
            h3 Programavimo aplinkos
            ul
              li 1997: Enterprise Java Beans (EJB)
              li 2004: Ruby on Rails
              li 2009: Node.js (JavaScript)
            h3 Operacinės sistemos
            ul
              li 1969: UNIX
              li 1981: PC-DOS, MS-DOS
              li 1985: Windows
              li 1986: HP-UX
              li 1991: Linux
              li 1991: Mac OS
              li 1996: Palm OS
              li 2007: iOS
              li 2008: Android
            h3 Duomenų bazių valdymo sistemos
            h4 SQL
            ul
              li Oracle
              li MySQL
              li PostgreSQL
              li DB2
              li SQL Server
            h4 NoSQL
            ul
              li MongoDB
              li CouchDB
              li Redis
              li Firebase
              li Riak
              li Amazon DynamoDB
              li Hadoop
            h3
              a(href='http://en.wikipedia.org/wiki/Open_source') Atviras kodas
            ul
              li Linux
              li Android
              li Apache
              li Mozilla Firefox
              li Node.js
              li
                a(href='http://www.github.com/') GitHub
              li Arduino
              li Blogs
              li
                a(href='http://en.wikipedia.org/wiki/OpenCola_(drink)') OpenCola
              li Vores Øl
              li Willow Garage ROS
              li
                a(href='http://en.wikipedia.org/wiki/Open-source_robotics') Robotika

    .zoomTarget.zoomDiv
        .row
          .span12
            a(name='Cloud')
              h2
                a(href='http://en.wikipedia.org/wiki/Introduction_to_cloud_computing') Cloud computing
            img(src='Cloud.png')
            div Paslaugų teikimo modeliai
            ul
              li SaaS (Software, Desktop, Database, Identity)
              li PaaS = SaaS programų kūrimui (Platform)
              li IaaS = HaaS (Infrastructure, Hardware, Storage, Network)
            div Pobūdis
            ul
              li Kliento-serverio sistemos
              li Grid (gardelė), pvz. FaH
              li Mainframe
              li Utility (mokama už panaudotus resursus)
              li Peer-to-peer
            div Paslaugų tiekėjai
            ul
              li
                a(href='www.hpcloud.com/') HP Cloud
                |  - 
                a(href='http://openstack.org/projects/') OpenStack
              li Amazon AWS, EC2, S3, VPC
              li Salesforce.com
              li Google AppEngine
              li Citrix XenServer
              li VMware vSphere
              li Rackspace
              li GoGrid
              li Cisco
              li Joent
              li Microsoft Azure
              li Heroku
            div Lietuva - 1-me penketuke pasaulyje pagal interneto spartą
            ul
              li Puikios sąlygos kurti Cloud computing paslaugas
              li Reikia iniciatyvos, įžvalgumo, tendencijų suvokimo ir gerų ryšių su paslaugų tiekėjais bei investitoriais

    .zoomTarget.zoomDiv
        .row
          .span12
            a(name='Trends')
              h2 Tendencijos
            h3 Social
            ul
              li Facebook
              li Google+
              li Twitter
              li LinkedIn
              li Flickr
              li Pinterest
              li Digg
              li Reddit
              li Hacker News
              li ...
            h3 Atpažinimas
            ul
              li
                a(href='http://www.aurasma.com/') Aurasma
              li QR kodai
              li Siri, Ivona
              li SoundHound, Shazam
              li Google Sky Map, Layar
              li Goggles
              li
                a(href='http://www.wolframalpha.com/') Wolfram Alpha
            h3 Robotika
            ul
              li
                a(href='http://en.wikipedia.org/wiki/Lego_Robotics') Lego Mindstorms
              li
                a(href='http://www.youtube.com/watch?v=MpnHQqqiF_0',target=_blank') ROTER
                |  Kursinis darbas
              li
                a(href='HocomaHandModuleCalibration.m4v') Robotizuotos rankos kalibravimas
              li
                a(href='http://www.youtube.com/watch?v=6KRjuuEVEZs',target='_blank') Kiva Systems
              li
                a(href='http://www.youtube.com/watch?v=aqCmX5dMYHg',target='_blank') Boston Dynamics PETMAN for DARPA
              li
                a(href='http://nootrix.com/') Robot News
              li Self-driving car
              li Mars rovers
              li
                a(href='http://en.wikipedia.org/wiki/Mars_Science_Laboratory',target='_blank') MSL
                |  - Curiosity 2012-08-05
            img(src='MarsRovers.jpg', title='Mars Rovers')
            h3 Mokymas internetu
            ul
              li
                a(href='www.coursera.org/') Coursera
              li
                a(href='www.udacity.com/') Udacity
            h3 Priemonės programavimo mokymuisi
            ul
              li
                a(href='http://www.github.com/') GitHub
              li Linux
              li JavaScript
              li HTML5
              li Canvas, WebGL, Blender, Maya, Inka3D, ScetchFab.com
              li Chrome, Firefox Developer tools
              li
                a(href='http://developer.mozilla.org') Mozilla Developer Network
              li
                a(href='http://www.html5rocks.com/ ') HTML5 Rocks
              li PhoneGap/Cordova
              li OpenCV, MATLAB
              li
                a(href='http://www.bitbucket.org/') Atlassian BitBucket
              li Heroku
              li Nodester
            h3 Technologijų naujienos
            ul
              li Hacker News
              li Twitter
              li Google+
              li YouTube
              li Reddit
              li
                a(href='http://nootrix.com/') Robot News
              li Technologijos.lt
              li
                a(href='http://www.math24.lt/diskusijos/forum32-programavimas.html') Tiksliųjų mokslų forumas
