Javascript blogs

http://paulirish.com/
| http://ejohn.org/
| http://james.padolsey.com/
| http://remysharp.com/
| http://mir.aculo.us/
| http://www.elijahmanor.com/
| http://dustindiaz.com/
| http://www.nczonline.net/
| http://blog.rebeccamurphey.com/
| http://blog.getify.com/
| http://giri.sh/
| http://www.position-absolute.com/
| http://javascriptweblog.wordpress.com/
| http://dailyjs.com/
| http://ajaxian.com/
| http://www.raymondcamden.com/index.cfm/JavaScript
| http://www.learningjquery.com/
| http://www.scriptiny.com/category/javascript/
