| ---
| title: Links
| layout: boilerytics
| ---
style 
  h1 {
    text-align: center;
    color: #FF8900;
  }
  h2, h3, h4 {
    color: #FF8900;
  }
  #toc {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0 0 0 15px;
    padding: 15px;
    height: 100%;
    background: rgba(0,0,0,0.2);
    overflow: auto;
    border-right: 1px solid rgba(255,255,255,0.05);
  }
  #toc li {
    padding: 0;
    list-style: none;
  }
  #container-custom {
    margin: 0 auto;
    padding-top: 80px;
    width: 550px;
  }
  #wrapper {
    width: 100%;
    min-height: 800px;
  }
  #note {
    text-align: center;
    color: #888;
  }
#wrapper
  .container-fluid#container-custom
    .sidebar.sidebar-fluid.span2
        #toc
          h3 Contents
          ul
            li
              a(href='#Backbone') Backbone &raquo;
            li
              a(href='#bb-mobile') BB Mobile &raquo;
            li
              a(href='#offline') Offline apps &raquo;
            li
              a(href='#js-articles') JS Articles &raquo;
    .content.span12
        a(name='links')
          h1 Links
        .row.t2
          h4.span12 Link
        .row.t2
          a(name='backbone')
            h2.span12 Backbone
        .row
          .span12
            a(href='http://documentcloud.github.com/backbone/') Backbone
        .row
          .span12
            a(href='http://documentcloud.github.com/backbone/docs/backbone.html') Backbone annotated code
        .row
          .span12
            a(href='http://net.tutsplus.com/tutorials/javascript-ajax/getting-started-with-backbone-js/') Getting Started with Backbone.js
        .row
          .span12
            a(href='http://backbonetutorials.com/') Backbone Tutorials
        .row
          .span12
            a(href='http://weblog.bocoup.com/organizing-your-backbone-js-application-with-modules/') Organizing Your Backbone.js Application With Modules
        .row
          .span12
            a(href='http://weblog.bocoup.com/backbone-live-collections/') Backbone Live Collections
        .row
          .span12
            a(href='https://github.com/PaulUithol/Backbone-relational') Backbone-relational
        .row
          .span12
            a(href='http://css.dzone.com/articles/backbone-relational-tutorial') Yes, Backbone.js Can Handle Multiple Models! Here's How
        .row
          .span12
            a(href='http://blog.sendhub.com/post/19349219519/single-page-web-apps-with-backbone-js') Single Page Web Apps with Backbone.js
        .row
          .span12
            a(href='')
        .row
          .span12
            a(href='')
        .row
          .span12
            a(href='')
        .row.t2
          a(name='bb-mobile')
            h2.span12 Backbone Mobile
        .row
          .span12
            a(href='http://msdn.microsoft.com/en-us/scriptjunkie/hh377172.aspx') Addy Osmani: Building Mobile JavaScript WebApps With Backbone.js & jQuery: Part I
        .row
          .span12
            a(href='https://github.com/bnolan/Backbone-Mobile') Example app of using backbone with jquery mobile
        .row
          .span12
            a(href='http://trigger.io/cross-platform-application-development-blog/2012/03/02/how-to-build-fast-html5-mobile-apps-using-backbone-js-zepto-js-and-trigger-io/') How to build fast HTML5 mobile apps using backbone.js, zepto.js and trigger.io
        .row
          .span12
            a(href='http://backbonefu.com/2012/01/jquery-mobile-and-backbone-js-the-ugly/') JQUERY MOBILE AND BACKBONE.JS, THE UGLY
        .row
          .span12
            a(href='https://github.com/azicchetti/jquerymobile-router') jQueryMobile-Router
        .row
          .span12
            a(href='https://gist.github.com/1027122') Backbone based mobile page mode
        .row
          .span12
            a(href='http://blog.chariotsolutions.com/2011/12/introduction-to-backbonejs-with-jquery.html') Introduction to Backbone.js with jQuery Mobile
        .row
          .span12
            a(href='http://coenraets.org/blog/2012/02/sample-mobile-app-with-backbone-js-and-phonegap/') Sample Mobile App with Backbone.js and PhoneGap
        .row
          .span12
            a(href='http://coenraets.org/blog/2012/02/sample-mobile-app-with-backbone-js-phonegap-and-a-local-database/') Sample Mobile App with Backbone.js, PhoneGap, and a Local Database
        .row.t2
          a(name='express')
            h2.span12 Express
        .row
          .span12
            a(href='http://expressjs.com/guide.html') Express Guide
        .row
          .span12
            a(href='http://howtonode.org/getting-started-with-express') Getting Started with Express
        .row
          .span12
            a(href='http://fabianosoriani.wordpress.com/2011/08/15/express-api-on-node-js-with-mysql-auth/') Starting a Node.js Express API to serve json, (with auth, MySQL – based)
        .row
          .span12
            a(href='https://gist.github.com/1025038') An example NodeJS / Mongoose / Express application based on their respective tutorials
        .row
          .span12
            a(href='https://github.com/mikeal/request') Request -- Simplified HTTP request method
        .row
          .span12
            a(href='https://github.com/visionmedia/express-resource') Express Resource
        .row
          .span12
            a(href='') 
        .row.t2
          a(name='socket.io')
            h2.span12 Socket.io
        .row
          .span12
            a(href='http://socket.io/') Socket.IO
        .row
          .span12
            a(href='https://github.com/fantasticmf/node-socket.io-client') node-socket.io-client
        .row
          .span12
            a(href='http://andyet.net/blog/2011/feb/15/re-using-backbonejs-models-on-the-server-with-node/') Re-using Backbone.js Models on the server with Node.js and Socket.io to build real-time apps
        .row
          .span12
            a(href='http://developer.teradata.com/blog/jasonstrimpel/2011/11/backbone-js-and-socket-io') Backbone.js and socket.io
        .row
          .span12
            a(href='') 
        .row
          .span12
            a(href='') 
        .row.t2
          a(name='offline')
            h2.span12 Offline apps
        .row
          .span12
            a(href='http://paperkilledrock.com/2010/05/html5-localstorage-part-one/') Part One: Getting to Know localStorage
        .row
          .span12
            a(href='http://paperkilledrock.com/2010/05/html5-localstorage-part-two/') Part Two: Making localStorage Work For You
        .row
          .span12
            a(href='http://paperkilledrock.com/2010/05/html5-localstorage-part-three/') Part Three: Writing a Functioning Web App
        .row
          .span12
            a(href='http://paperkilledrock.com/2010/05/html5-localstorage-part-four/') Part Four: Putting The Finishing Touches On
        .row
          .span12
            a(href='https://github.com/wycats/jquery-offline') jQuery Offline Plugin
        .row
          .span12
            a(href='http://amplifyjs.com/') AmplifyJS
        .row
          .span12
            a(href='http://net.tutsplus.com/tutorials/javascript-ajax/enhancing-web-apps-with-amplifyjs/') Enhancing Web Apps with AmplifyJS
        .row.t2
          a(name='js-articles')
            h2.span12 Javascript Articles
        .row
          .span12
            a(href='http://msdn.microsoft.com/en-us/scriptjunkie/ff699062') MSDN script junkie {} | Script Articles
        .row
          .span12
            a(href='')
        .row.t2
          #note.span10 Prepared by: 
            a(href='https://github.com/newtrin0')
              sub Neνtrino
              sup 2012
