| ---
| title: Cross-Platform Mobile App development
| layout: boiler
| ---
style 
  h1 {
    text-align: center;
    color: #ccc;
  }
  h2, h3, h4 {
    color: #ccc;
  }
  #toc {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0 0 0 15px;
    padding: 15px;
    height: 100%;
    background: rgba(0,0,0,0.2);
    overflow: auto;
    border-right: 1px solid rgba(255,255,255,0.05);
  }
  #toc li {
    padding: 0;
    list-style: none;
  }
  #container-custom {
    margin: 0 auto;
    padding-top: 80px;
    width: 550px;
  }
  #wrapper {
    width: 100%;
    min-height: 800px;
  }
  #note {
    text-align: center;
    color: #888;
  }
#wrapper
  .container-fluid#container-custom
    .sidebar.sidebar-fluid.span2
        #toc
          h3 Contents
          ul
            li
              a(href='#Tools') Tools &raquo;
    .content.span10
        h1 Cross-Platform Mobile Apps
        .row
          h4.span1 Type
          h4.span2 Name
          h4.span2 Author
          h4.span1 Source
          h4.span2 Docs
          h4.span2 Twitter G+ FB
        .row
          a(name='platforms')
            h2.span10 Tools
        .row
          .span1 Tool
          .span2
            a(href='http://www.appcelerator.com/') Appcelerator Titanium Mobile
          .span2 Appcelerator Inc.
          .span1
            a(href='https://github.com/appcelerator') GitHub
          .span2
            a(href='http://www.appcelerant.com/') Blog
          .span2
            a(href='https://twitter.com/appcelerator') @appcelerator
            |  
            a(href='https://plus.google.com/u/0/113266658339161020416') G+

        .row
          #note.span10 Prepared by: 
            a(href='https://github.com/newtrin0')
              sub Neνtrino
              sup 2012
