| ---
| title: Podio API
| layout: boilerytics
| ---
style 
  h1 {
    text-align: center;
    color: #FF8900;
  }
  h2, h3, h4 {
    color: #FF8900;
  }
  #toc {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0 0 0 15px;
    padding: 15px;
    height: 100%;
    background: rgba(0,0,0,0.2);
    overflow: auto;
    border-right: 1px solid rgba(255,255,255,0.05);
  }
  #toc li {
    padding: 0;
    list-style: none;
  }
  #container-custom {
    margin: 0 auto;
    padding-top: 80px;
    width: 550px;
  }
  #wrapper {
    width: 100%;
    min-height: 800px;
  }
  #note {
    text-align: center;
    color: #888;
  }
#wrapper
  .container-fluid#container-custom
    .sidebar.sidebar-fluid.span2
        #toc
          h3 Contents
          ul
            li
              a(href='#podio') Podio API &raquo;
    .content.span12
        h1 Podio API
        .row.t2
          h4.span1 Name
          h4.span1 Op
          h4.span2 URL
          h4.span3 Req
          h4.span3 Resp
          h4.span2 Notes
        .row.t2
          a(name='podio')
            h2.span12 Hooks
        .row
          .span1 Create hook
          .span1 POST
          .span2 /hook/{ref_type}/{ref_id}/
          .span3 {"url": url, "type": events}
          .span3 {"hook_id": id}
          .span2 App auth
        .row
          .span1 Delete hook
          .span1 DELETE
          .span2 /hook/{hook_id}
          .span3 -
          .span3 -
          .span2 ...
        .row
          .span1 Get hooks
          .span1 GET
          .span2 /hook/{ref_type}/{ref_id}/
          .span3 -
          .span3 [{"hook_id": id, "status": inactive/active, "type": type, "url": url},...]
          .span2 App auth
        .row
          .span1 Request hook verification
          .span1 POST
          .span2 /hook/{hook_id}/verify/request
          .span3 -
          .span3 -
          .span2 App auth, calls hook url with {"type": "hook_verify", "code": code}
        .row
          .span1 Validate hook verification
          .span1 POST
          .span2 /hook/{hook_id}/verify/validate
          .span3 {"code": code}
          .span3 -
          .span2 No auth
