| ---
| title: Web Tools
| layout: boilerytics
| ---
style 
  h1 {
    text-align: center;
    color: #ccc;
  }
  h2, h3, h4 {
    color: #ccc;
  }
  #toc {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0 0 0 15px;
    padding: 15px;
    height: 100%;
    background: rgba(0,0,0,0.2);
    overflow: auto;
    border-right: 1px solid rgba(255,255,255,0.05);
  }
  #toc li {
    padding: 0;
    list-style: none;
  }
  #container-custom {
    margin: 0 auto;
    padding-top: 80px;
    width: 550px;
  }
  #wrapper {
    width: 100%;
    min-height: 800px;
  }
  #note {
    text-align: center;
    color: #888;
  }
#wrapper
  .container-fluid#container-custom
    .sidebar.sidebar-fluid.span2
        #toc
          h3 Contents
          ul
            li
              a(href='#tutorials') Tutorials &raquo;
            li
              a(href='#hosting') Hosting &raquo;
            li
              a(href='#cdn') CDNs &raquo;
            li
              a(href='#client') Client side &raquo;
            li
              a(href='#server-node') Server - node &raquo;
            li
              a(href='#server-jvm') Server - JVM &raquo;
    .content.span10
        h1 Web Tools
        .row
          h4.span1 Type
          h4.span2 Name
          h4.span2 Author
          h4.span1 Source
          h4.span2 Docs
          h4.span2 Twitter G+ FB
        .row
          a(name='tutorials')
            h2.span10 Tutorials/Examples/Articles
        .row
          .span1 Tutorial
          .span2
            a(href='https://developer.mozilla.org/') Mozilla Developer Network
          .span2
            a(href='http://mozilla.org/') Mozilla
          .span1
            a(href='https://developer.mozilla.org/en-US/demos/') Demos
          .span2
            a(href='https://developer.mozilla.org/en-US/docs') Docs
          .span2
            a(href='https://twitter.com/planetmozilla') @planetmozilla
        .row
          .span1 Playground
          .span2
            a(href='http://www.html5rocks.com/') HTML5 Rocks
          .span2
            a(href='http://www.chromium.org/') Google Chrome Developer Relations
          .span1
            a(href='http://code.google.com/p/html5rocks/') Code
          .span2
            a(href='https://developer.mozilla.org/en-US/docs') Docs
          .span2
            a(href='http://twitter.com/ChromiumDev') @ChromiumDev
        .row
          .span1 Blog
          .span2
            a(href='http://dailyjs.com/') DailyJS
          .span2
            a(href='http://alexyoung.org/') Alex Young
          .span1
            a(href='http://github.com/alexyoung/dailyjs') GitHub
          .span2 -
          .span2
            a(href='http://twitter.com/dailyjs') @dailyjs
            |  
            a(https://plus.google.com/u/0/110075199769457074728) G+
            |  
            a(http://www.facebook.com/dailyjs) FB
        .row
          .span1 Blog
          .span2
            a(href='http://badassjs.com/') Badass JavaScript
          .span2
            a(href='http://devongovett.com/') Devon Govett
          .span1 -
          .span2 -
          .span2
            a(href='http://twitter.com/badass_js') @badass_js
            |  
            a(href='https://plus.google.com/105987273999248330631') G+
            |  
            a(href='https://plus.google.com/103643372170124632766') G+ 
        .row
          .span1 Demo
          .span2
            a(href='http://addyosmani.github.com/todomvc/') TodoMVC
          .span2
            a(href='https://github.com/addyosmani') Addy Osmani
          .span1
            a(href='https://github.com/addyosmani/todomvc') GitHub
          .span2 -
          .span2
            a(href='http://twitter.com/addyosmani') @addyosmani
            |  
            a(href='https://plus.google.com/115133653231679625609') G+
        .row
          .span1 Article
          .span2
            a(href='http://killdream.github.com/blog/2011/10/understanding-javascript-oop/index.html') Understanding JavaScript OOP
          .span2
            a(href='http://killdream.github.com/about/') Quildreen Motta
          .span1
            a(href='https://github.com/killdream') GitHub
          .span2 -
          .span2
            a(href='http://twitter.com/notsorella') @notSorella
            |  
            a(href='https://plus.google.com/105584037491284016722') G+
            |  
            a(href='http://www.facebook.com/quildreen') FB
        .row
          .span1 Review
          .span2
            a(http://codebrief.com/2012/01/the-top-10-javascript-mvc-frameworks-reviewed/') The Top 10 Javascript MVC Frameworks Reviewed
          .span2 Gordon Leland Hempton
          .span1 -
          .span2 -
          .span2
            a(href='http://twitter.com/ghempton') @ghempton
            |  
            a(href='https://plus.google.com/101351331202846575512') G+
        .row
          .span1 Article
          .span2
            a(http://venturebeat.com/2012/01/07/building-consumer-apps-with-node/') How & why to build a consumer app with Node.js
          .span2
            a(href='http://www.clock.co.uk/') Paul Serby
          .span1
            a(href='https://github.com/serby') GitHub
          .span2 -
          .span2
            a(href='http://twitter.com/PabloSerbo') @PabloSerbo
            |  
            a(href='https://plus.google.com/108013289718549178736') G+
        .row
          .span1 Answer
          .span2
            a(http://www.quora.com/Help-me-choose-which-technology-to-use-in-my-RIA-project') Which technology to use
          .span2
            a(href='http://www.quora.com/Martin-Wawrusch') Martin Wawrusch
          .span1 -
          .span2 -
          .span2
            a(href='http://twitter.com/martin_sunset') @martin_sunset
            |  
            a(href='https://plus.google.com/105382927133688151524') G+
        .row
          .span1 Answer
          .span2
            a(http://www.quora.com/What-are-the-essential-node-js-modules-for-a-robust-web-framework-for-now') Essential node.js modules
          .span2
            a(href='http://www.quora.com/Corey-Recvlohe') Corey Recvlohe
          .span1 -
          .span2 -
          .span2
            a(href='http://twitter.com/coreyrecvlohe') @coreyrecvlohe
            |  
            a(href='https://plus.google.com/114385820041844317563') G+
        .row
          .span1 Book
          .span2
            a('http://jqfundamentals.com/') jQuery Fundamentals
          .span2
            a(href='http://www.rebeccamurphey.com/') Rebecca Murphey
          .span1
            a(href='https://github.com/rmurphey/jqfundamentals') GitHub
          .span2 -
          .span2
            a(href='http://twitter.com/rmurphey') @rmurphey
            |  
            a(href='https://plus.google.com/105973840095270425482') G+
        .row
          .span1 Scoop.it topic
          .span2
            a('http://www.scoop.it/t/nodejs-code/') nodejs-code
            |  on Scoop.it by Anand George
          .span2 -
          .span2 -
          .span2 -
          .span2
            a(href='http://twitter.com/nodejs_code') @nodejs_code
            |  
            a(href='http://www.facebook.com/profile.php?id=100000233403531') FB

        .row
          a(name='hosting')
            h2.span10 Hosting
        .row
          .span1 Hosting
          .span2
            a(href='https://github.com/') GitHub
            |  / 
            a(href='http://www.rackspace.com/') Rackspace
            |  
            a(href='http://www.rackspacecloud.com/') Hosting
          .span2
            a(href='https://github.com/about#the_team') GitHub team
          .span1
            a(href='http://defunkt.io/hub/') hub
          .span2
            a(href='http://pages.github.com/') github:pages
            |  
            a(href='https://github.com/blog/122-embedded-gists') Embedded Gists
          .span2
            a(href='http://twitter.com/github') @GitHub
        .row
          .span1 Hosting
          .span2
            a(href='http://www.heroku.com/') Heroku
          .span2 -
          .span1 -
          .span2 -
          .span2 -
        .row
          .span1 Hosting
          .span2
            a(href='http://www.joyentcloud.com/') JoyentCloud
          .span2
            a(href='http://www.joyent.com/') Joyent
          .span1
            a(href='http://wiki.joyent.com/display/www/Documentation+Home') Wiki
          .span2
            a(href='http://joyer.com/') Joyeur blog
          .span2
            a(href='http://twitter.com/joyent') @joyent
            |  
            a(href='https://plus.google.com/105554174823070628110') G+
        .row
          .span1 Hosting
          .span2
            a(href='http://no.de/') no.de
          .span2
            a(href='http://www.joyent.com/') Joyent
          .span1
            a(href='http://wiki.joyent.com/display/www/Documentation+Home') Wiki
          .span2
            a(href='http://joyer.com/') Joyeur blog
          .span2
            a(href='http://twitter.com/joyent') @joyent
            |  
            a(href='https://plus.google.com/105554174823070628110') G+
        .row
          .span1 Hosting
          .span2
            a(href='http://nodejitsu.com/') Nodejitsu
            |  / 
            a(href='http://www.rackspace.com/') Rackspace
            |  
            a(href='http://www.rackspacecloud.com/') Hosting
          .span2
            a(href='https://github.com/nodejitsu/') Node.js Hosting and Training
          .span1
            a(href='https://github.com/nodejitsu/') GitHub
          .span2
            a(href='https://github.com/nodejitsu/handbook') The Nodejitsu Handbook
          .span2
            a(href='http://twitter.com/nodejitsu') @nodejitsu
        .row
          .span1 Hosting
          .span2
            a(href='http://iron.io/') iron.io
          .span2
            a(href='http://www.iron.io/about') iron.io team
          .span1
            a(href='https://github.com/iron-io') GitHub
            | , 
            a(href='https://github.com/seebees/ironmq') node bindings
            |  for IronMQ
          .span2
            a(href='http://docs.iron.io/') Docs
          .span2
            a(href='http://twitter.com/getiron') @getiron
            |  
            a(href='https://plus.google.com/107979826672004784735') G+
        .row
          .span1 Hosting
          .span2
            a(href='http://c9.io/') Cloud9 IDE
          .span2
            a(href='http://ajax.org') Ajax.org
          .span1
            a(href='https://github.com/ajaxorg/cloud9/') GitHub
          .span2
            a(href='http://cloud9ide.posterous.com/') blog
          .span2
            a(href='http://twitter.com/cloud9ide') @cloud9ide
            |  
            a(href='https://plus.google.com/112124450587245028448') G+
            |  
            a(href='http://www.facebook.com/Cloud9IDE') FB
        .row
          .span1 Hosting
          .span2
            a(href='http://nodester.com/') Nodester
            |  - OpenSource Node.JS PaaS
          .span2
            a(href='http://nodester.com/about.html') Nodester Core Team
          .span1
            a(href='https://github.com/nodester/nodester') GitHub
          .span2
            a(href='http://nodester.com/api.html') API
          .span2
            a(href='http://twitter.com/nodester') @nodester

        .row
          a(name='cdn')
            h3.span10 Content Delivery Networks
        .row
          .span1 CDN
          .span2
            a(href='http://cachedcommons.org/') Cached Commons
          .span2
            a(href='http://lancepollard.com') Lance Pollard
          .span1
            a(href='https://github.com/viatropos/cached-commons') GitHub
          .span2
            a(href='http://cachedcommons.org/readme/') Read me
          .span2
            a(href='http://twitter.com/viatropos') @viatropos
            |  
            a(href='https://plus.google.com/116993805693934026306') G+
        .row
          .span1 CDN
          .span2
            a(href='http://www.cdnjs.com/') CDN for JavaScript
          .span2
            a(href='http://ryankirkman.github.com/') Ryan Kirkman
            |  & 
            a(href='http://thomasdavis.github.com/') Thomas Davis
          .span1
            a(href='https://github.com/cdnjs/cdnjs') GitHub
          .span2 -
          .span2
            a(href='http://twitter.com/ryan_kirkman') @ryan_kirkman
            |  
            a(href='https://plus.google.com/102698703130798888842') G+
            |  
            a(href='http://twitter.com/neutralthoughts') @neutralthoughts
            |  
            a(href='https://plus.google.com/101608559187380638042') G+
        .row
          .span1 CDN
          .span2
            a(href='http://www.cdncss.com/') CDN for CSS
            |  (Coming Soon)
          .span2
            a(href='http://ryankirkman.github.com/') Ryan Kirkman
            |  & 
            a(href='http://thomasdavis.github.com/') Thomas Davis
          .span1
            a(href='https://github.com/cdnjs/cdncss') GitHub
          .span2 -
          .span2
            a(href='http://twitter.com/ryan_kirkman') @ryan_kirkman
            |  
            a(href='https://plus.google.com/102698703130798888842') G+
            |  
            a(href='http://twitter.com/neutralthoughts') @neutralthoughts
            |  
            a(href='https://plus.google.com/101608559187380638042') G+
        .row
          a(name='repl')
            h3.span10 Web REPL
        .row
          .span1 REPL
          .span2
            a(href='https://plus.google.com/106846248004202631982/posts/iE2FzzRckAx') Try Language in the Browser
          .span2
            a(href='http://www.dartbits.com/') Dart Bits
            |  & 
            a(href='https://plus.google.com/107102314343984959946') Rodrigo Moraes
          .span1 -
          .span2 -
          .span2
            a(href='http://twitter.com/dartbits') @dartbits
            |  
            a(href='https://plus.google.com/106846248004202631982') G+
            |  
            a(href='https://plus.google.com/107102314343984959946') G+
        .row
          .span1 REPL
          .span2
            a(href='http://jsfiddle.net/') jsFiddle
          .span2
            a(href='https://github.com/jsfiddle') jsFiddle
          .span1 -
          .span2
            a(href='http://doc.jsfiddle.net/') Docs
          .span2
            a(href='http://twitter.com/js_fiddle') @js_fiddle
            |  
            a(href='http://www.facebook.com/pages/jsFiddle/183790024998') FB

        .row
          a(name='client')
            h2.span10 Client side
        .row
          h3.span10 Local Storage
        .row
          .span1 Storage
          .span2
            a(href='http://dev.w3.org/html5/webstorage/') HTML5 Web Storage
          .span2
            a(href='http://www.w3.org/') W3C
            |  | 
            a(href='http://ian.hixie.ch/') Ian Hickson
            |  (editor)
          .span1 -
          .span2
            a(href=http://www.whatwg.org/specs/web-apps/current-work/#webstorage') Docs
          .span2
            a(href='https://twitter.com/hxie') @hixie
            |  
            a(href='https://plus.google.com/107429617152575897589') G+
        .row
          .span1 Storage
          .span2
            a(href='http://www.w3.org/TR/webdatabase/') Web SQL Database
            |  (inactive)
          .span2
            a(href='http://www.w3.org/') W3C
            |  | 
            a(href='http://ian.hixie.ch/') Ian Hickson
            |  (editor)
          .span1 -
          .span2 -
          .span2
            a(href='https://twitter.com/hxie') @hixie
            |  
            a(href='https://plus.google.com/107429617152575897589') G+
        .row
          .span1 Storage
          .span2
            a(href='http://www.w3.org/TR/IndexedDB/') Indexed DB
          .span2
            a(href='http://www.w3.org/') W3C
            |  | 
            a(href='http://blog.o-micron.com/') Nikunj Mehta
            |  (draft author)
          .span1 -
          .span2 -
          .span2
            a(href='https://twitter.com/o_micron') @o_micron

        .row
          h3.span10 CSS3 Boilerplates
        .row
          .span1 Boilerplate
          .span2
            a(href='http://www.initializr.com/') Initializr
          .span2
            a(href='https://twitter.com/verekia') Jonathan Verrechia
          .span1
            a(href='https://github.com/verekia/initializr') GitHub
            |  | 
            a(href='https://github.com/verekia/initializr-template') Template
          .span2
            a(href='http://www.mk-dizajn.com/en/2011/06/initializr-izvrstan-html5-predlozak-za-svaki-web-projekt/') English Docs
          .span2
            a(href='https://twitter.com/initializr') @initializr
            |  
            a(href='https://twitter.com/verekia') @verekia
        .row
          .span1 Boilerplate
          .span2
            a(href='http://twitter.github.com/bootstrap/') Bootstrap 2.0
          .span2
            a(href='https://github.com/twitter') Twitter
          .span1
            a(href='https://github.com/twitter/bootstrap') GitHub
          .span2 -
          .span2
            a(href='https://twitter.com/TwBootstrap') @TwBootstrap
        .row
          .span1 Boilerplate
          .span2
            a(href='http://blueprintcss.org/') Blueprint
          .span2
            a(href='http://joshuaclayton.me') Joshua Clayton
          .span1
            a(href='https://github.com/joshuaclayton/blueprint-css') GitHub
          .span2
            a(href='https://github.com/joshuaclayton/blueprint-css/wiki') Wiki
            |  
            a(href='http://blueprintcss.org/tests/') Tests
            |  
            a(href='http://www.youtube.com/watch?v=KHLrEF9tHjw') YouTube
          .span2
            a(href='https://twitter.com/blueprintcss') @blueprintcss
            |  
            a(href='http://www.facebook.com/blueprintcss') FB
        .row
          .span1 Boilerplate
          .span2
            a(href='http://foundation.zurb.com/') Foundation
          .span2
            a(href='http://www.zurb.com/') Zurb
          .span1
            a(href='http://github.com/zurb/foundation') GitHub
          .span2
            a(href='http://foundation.zurb.com/docs/') Docs
          .span2
            a(href='http://twitter.com/foundationzurb') @foundationzurb
        .row
          .span1 Boilerplate
          .span2
            a(href='http://960.gs/') 960 grid system
          .span2
            a(href='http://sonspring.com/') Nathan Smith
          .span1
            a(href='https://github.com/nathansmith/960-grid-system/') GitHub
          .span2
            a(href='http://960.gs/demo.html') Demo
            |  
            a(href='http://www.slideshare.net/nathansmith/refresh-okc') Slides
          .span2
            a(href='http://twitter.com/nathansmith') @nathansmith
            |  
            a(href='https://plus.google.com/115310247179926591656') G+

        .row
          h3.span10 HTML5 Boilerplates
        .row
          .span1 Boilerplate
          .span2
            a(href='http://html5boilerplate.com/') HTML5 ✰ Boilerplate
          .span2
            a(href='http://paulirish.com/') Paul Irish
            |  | 
            a(href='http://nimbupani.com/') Divya Manian
          .span1
            a(href='hpttps://github.com/h5bp/html5-boilerplate') GitHub
          .span2
            a(href='http://html5boilerplate.com/docs/') Docs
          .span2
            a(href='http://twitter.com/paul_irish') @paul_irish
            a(href='https://plus.google.com/113127438179392830442') G+
            a(href='http://twitter.com/divya') @divya
            a(href='https://plus.google.com/110014068761700118840')
            a(href='http://twitter.com/h5bp') @h5bp
        .row
          .span1 Boilerplate
          .span2
            a(href='http://www.99lime.com/') HTML KickStart
          .span2
            a(href='joshua@99lime.com') Joshua Gatcke
          .span1
            a(href='http://www.99lime.com/downloads/') zip
          .span2
            a(href='http://designshack.net/articles/css/htmlkickstart/') Tutorial
          .span2 -
        .row
          .span1 Boilerplate
          .span2
            a(href='http://tbranyen.github.com/backbone-boilerplate/') Backbone Boilerplate
          .span2
            a(href='http://tbranyen.com/') Tim Branyen
          .span1
            a(href='https://github.com/tbranyen/backbone-boilerplate') GitHub
          .span2 Built-in
          .span2
            a(href='http://twitter.com/tbranyen') @tbranyen
            |  
            a(href='https://plus.google.com/100894993596873131654') G+

        .row
          h3.span10 Image Placeholders
        .row
          .span1 Placeholder
          .span2
            a(href='http://placehold.it/') Placeholdit
          .span2
            a(href='http://brentspore.com/') Brent Spore
          .span1 -
          .span2 -
          .span2
            a(href='http://twitter.com/iboughtamac') @iboughtamac
        .row
          .span1 Placeholder
          .span2
            a(href='http://placekitten.com/') Place kitten
          .span2
            a(href='http://mark.james.name/') Mark James
          .span1 -
          .span2 -
          .span2 -

        .row
          h3.span10 node.js Boilerplates
        .row
          .span1 Boilerplate
          .span2
            a(href='https://github.com/mape/node-express-boilerplate') node-express-boilerplate
          .span2
            a(href='https://github.com/mape/') Mathias Pettersson
          .span1
            a(href='https://github.com/mape/node-express-boilerplate') GitHub
          .span2
            a(href='https://github.com/mape/node-express-boilerplate#readme') Read me
          .span2
            a(href='http://twitter.com/mape') @mape
        .row
          .span1 Boilerplate
          .span2
            a(href='https://github.com/jamuhl/express-backbone-boilerplate') express-backbone-boilerplate
          .span2
            a(href='https://github.com/jamuhl/') Jan Mühlemann
          .span1
            a(href='https://github.com/jamuhl/express-backbone-boilerplate') GitHub
          .span2
            a(href='https://github.com/jamuhl/express-backbone-boilerplate#readme') Read me
          .span2
            a(href='http://twitter.com/jamuhl') @jamuhl
            |  
            a(href='https://plus.google.com/109393175147712375848') G+
        .row
          .span1 Boilerplate
          .span2
            a(href='https://brunch.io') brunch
          .span2
            a(href='https://github.com/brunch') brunch team
          .span1
            a(href='https://github.com/brunch/brunch') GitHub
          .span2
            a(href='http://brunch.readthedocs.org/') Docs
          .span2
            a(href='http://twitter.com/brunch') @brunch

        .row
          h3.span10 Languages
        .row
          .span1 Language
          .span2
            a(href='http://coffeescript.org/') CoffeeScript
          .span2
            a(href='http://ashkenas.com/') Jeremy Ashkenas
          .span1
            a(href='http://github.com/jashkenas/coffee-script') GitHub
          .span2 -
          .span2 -

        .row
          h3.span10 Libraries
        .row
          .span1 Library
          .span2
            a(href='http://jquery.com') jQuery
          .span2
            a(href='http://ejohn.org/') John Resig
            |  and 
            a(href='http://jquery.org/team/') jQuery Board
          .span1
            a(href='https://github.com/jquery/jquery') GitHub
          .span2
            a(href='http://docs.jquery.com/') Docs
          .span2
            a(href='http://twitter.com/jquery') @jquery
            |  
            a(href='https://plus.google.com/118059877357975372665') G+
        .row
          .span1 Library
          .span2
            a(href='http://jqueryui.com') jQuery UI
          .span2
            a(href='http://jqueryui.com/about') jQuery UI Team
          .span1
            a(href='https://github.com/jquery/jquery-ui') GitHub
          .span2
            a(href='http://jqueryui.com/demos/') Demos & Docs
          .span2
            a(href='http://twitter.com/jqueryui') @jqueryui
        .row
          .span1 Library
          .span2
            a(href='http://zeptojs.com/') Zepto.js
          .span2
            a(href='http://mir.aculo.us/') Thomas Fuchs
          .span1
            a(href='https://github.com/madrobby/zepto') GitHub
          .span2
            a(href='https://github.com/madrobby/zepto#readme') Read me
          .span2
            a(href='http://twitter.com/zeptojs') @zeptojs
        .row
          .span1 Library
          .span2
            a(href='http://microjs.com/') Micro.js
            |  - site for micro frameworks
          .span2
            a(href='http://mir.aculo.us/') Thomas Fuchs
          .span1
            a(href='https://github.com/madrobby/microjs.com') GitHub
          .span2
            a(href='https://github.com/madrobby/microjs.com#readme') Read me
          .span2 -
        .row
          .span1 Library
          .span2
            a(href='http://140byt.es/') 140 bytes
            |  - tweet-sized JavaScript
          .span2
            a(href='http://140byt.es/users/jed') Jed Schmidt
          .span1
            a(href='https://gist.github.com/962807') Master gist
          .span2
            a(href='https://github.com/jed/140bytes/wiki/Byte-saving-techniques') Byte saving techniques
          .span2
            a(href='http://twitter.com/140bytes') @140bytes
        .row
          .span1 Library
          .span2
            a(href='http://www.json.org') JSON-js
          .span2
            a(href='http://www.crockford.com/') Douglas Crockford
          .span1
            a(href='https://github.com/douglascrockford/JSON-js') GitHub
          .span2
            a(href='http://www.json.org') JSON
          .span2 -
        .row
          .span1 Library
          .span2
            a(href='http://underscorejs.org/') Underscore
          .span2
            a(href='http://ashkenas.com/') Jeremy Ashkenas
          .span1
            a(href='https://github.com/documentcloud/underscore/') GitHub
          .span2
            a(href='http://documentcloud.github.com/underscore/') Docs
            |  | 
            a(href='https://github.com/documentcloud/underscore/wiki/Mixin-Catalog') Mixin Catalog
          .span2
            a(href='http://twitter.com/documentcloud') @documentcloud
        .row
          .span1 Library
          .span2
            a(href='http://raphaeljs.com/') Raphaël
            |  - SVG/VML vector graphics
          .span2
            a(href='http://dmitry.baranovskiy.com/') Dmitry Baranovskiy
          .span1
            a(href='https://github.com/DmitryBaranovskiy/raphael/') GitHub
          .span2
            a(href='http://raphaeljs.com/reference.html') Docs
          .span2
            a(href='http://twitter.com/DmitryBaranovsk') @DmitryBaranovsk

        .row
          h3.span10 Frameworks
        .row
          .span1 Framework
          .span2
            a(href='http://backbonejs.org/') Backbone
          .span2
            a(href='http://ashkenas.com/') Jeremy Ashkenas
          .span1
            a(href='http://github.com/documentcloud/backbone') GitHub
          .span2
            a(href='https://github.com/documentcloud/backbone/wiki/Tutorials%2C-blog-posts-and-example-sites') Tutorials, Examples
          .span2
            a(href='http://twitter.com/documentcloud') @documentcloud
        .row
          .span1 Framework
          .span2
            a(href='http://emberjs.org') Ember.js
            |  (a.k.a. SproutCore 2.0)
          .span2
            a(href='https://github.com/emberjs') Ember.js Team
          .span1
            a(href='https://github.com/emberjs/ember.js') GitHub
          .span2 -
          .span2 -
        .row
          .span1 Framework
          .span2
            a(href='http://walmartlabs.github.com/thorax/') Thorax
            |  (uses Backbone, Underscore, Zepto, Handlebars, Stylus, Lumbar)
          .span2
            a(href='http://www.walmartlabs.com/') @WalmartLabs
          .span1
            a(href='https://github.com/walmartlabs/thorax') GitHub
          .span2
            a(hre='http://walmartlabs.github.com/thorax/#overview') Docs
            |  | 
            a(href='http://walmartlabs.blogspot.com/') Blog
          .span2
            a(href='http://twitter.com/WalmartLabs') @WalmartLabs
            |  
            a(href='https://plus.google.com/100408305342658161092') G+
            |  
            a(href='https://plus.google.com/109747481588639022917') G+
        .row
          .span1 Framework
          .span2
            a(href='http://knockoutjs.com/') Knockout
          .span2
            a(href='http://blog.stevensanderson.com') Steven Sanderson
          .span1
            a(href='https://github.com/SteveSanderson/knockout/') GitHub
          .span2
            a(href='http://knockoutjs.com/documentation/introduction.html') Docs
          .span2
            a(href='http://twitter.com/StevenSanderson') @StevenSanderson
        .row
          .span1 Framework
          .span2
            a(href='http://enyojs.com') EnyoJS 2.0
          .span2
            Sponsored by 
            a(href='http://www.hp.com/') HP
          .span1
            a(href='https://github.com/enyojs') GitHub
          .span2
            a(href='http://enyojs.com/#documentation') Docs
          .span2 -
        .row
          .span1 Framework
          .span2
            a(href='https://github.com/elabs/serenade.js') Serenade.js
          .span2
            a(href='http://elabs.se/') Elabs AB
          .span1
            a(href='https://github.com/elabs/serenade.js') GitHub
          .span2
            a(href='https://github.com/elabs/serenade.js#readme') Read me
          .span2
            a(href='http://twitter.com/elabs') @elabs
        .row
          .span1 Framework
          .span2
            a(href='http://www.sencha.com/blog/sencha-touch-2-developer-preview/') Sencha Touch
            |  - Mobile HTML5 Framework
          .span2
            a(href='http://www.sencha.com/') Sencha
          .span1
            a(href='http://cdn.sencha.io/touch/sencha-touch-2-pr3.zip') zip
          .span2
            a(href='http://docs.sencha.com/touch/2-0/') Docs
          .span2
            a(href='http://twitter.com/sencha') @sencha
            |  
            a(href='https://plus.google.com/109552290213813788326') G+

        .row
          h3.span10 Templating
        .row
          .span1 Templating
          .span2
            a(href='http://handlebarsjs.com/') handlebars
          .span2
            a(href='http://www.yehudakatz.com/') Yehuda Katz
          .span1
            a(href='https://github.com/wycats/handlebars.js/') GitHub
          .span2
            a(href='http://handlebarsjs.com/') Docs
          .span2
            a(href='http://www.twitter.com/wycats') @wycats
            |  
            a(href='https://plus.google.com/106300407679257154689') G+
        .row
          .span1 Templating
          .span2
            a(href='http://code.google.com/closure/templates/') Google Closure Templates
          .span2
            a(href='http://code.google.com') Google
          .span1
            a(href='http://code.google.com/p/closure-templates/') Google code
          .span2
            a(href='http://code.google.com/closure/templates/docs/overview.html')
          .span2 -
        .row
          .span1 Templating
          .span2
            a(href='http://mustache.github.com/') mustache.js
            |  - Logic less templates
          .span2
            a(href='http://jan.prima.de/plok/') Jan Lehnardt
          .span1
            a(href='https://github.com/janl/mustache.js') GitHub
          .span2
            a(href='http://mustache.github.com/mustache.5.html') Syntax manpage
            |  | 
            a(href='http://mustache.github.com/mustache.1.html') Processor manpage
          .span2
            a(href='http://twitter.com/janl') @janl

        .row
          a(name='server-node')
            h2.span10 Server side - node.js
        .row
          .span1 Platform
          .span2
            a(href='http://nodejs.org') node.js
          .span2
            a(href='http://tinyclouds.org/') Ryan Dahl
          .span1
            a(href='https://github.com/joyent/node') GitHub
          .span2
            a(href='http://nodejs.org/docs/latest/api/index.html') Docs
            |  | 
            a(href='http://yand.info/') YAND
            |  | 
            a(href='http://nodeup.com/') Node Up podcast
            |  | 
            a(href='http://docs.nodejitsu.com/') docs.nodejitsu
            |  | 
            a(href='http://book.mixu.net/') Mixu's Node book
          .span2
            a(href='http://twitter.com/nodejs') @nodejs
            |  
            a(href='https://plus.google.com/100598160817214911030') G+
            |  
            a(href='http://twitter.com/ryah') @ryah
            |  
            a(href='https://plus.google.com/115094562986465477143') G+
        .row
          h3.span10 Cross Platform Native App Wrappers
        .row
          .span1 Wrapper
          .span2
            a(href='http://phonegap.com/') PhoneGap
            |  | 
            a(href='https://build.phonegap.com/') PhoneGap Build
            |  | 
            a(href='http://incubator.apache.org/callback/') Apache Cordova
          .span2
            a(href='http://nitobi.com/') Nitobi
          .span1
            a(href='https://github.com/callback') GitHub
          .span2
            a(href='http://docs.phonegap.com/') Docs
          .span2
            a(href='http://twitter.com/phonegap') @phonegap
            |  
            a(href='https://plus.google.com/107977846189790653098') G+
            |  
            a(href='http://www.facebook.com/PhoneGap') FB
        .row
          .span1 Wrapper
          .span2
            a(href='http://www.appmobi.com/') appMobi{!}
          .span2
            a(href='http://nitobi.com/') Nitobi
          .span1
            a(href='https://github.com/appMobi') GitHub
          .span2
            a(href='http://appmobi.com/documentation/index.html') Docs
          .span2
            a(href='http://twitter.com/appmobi') @appmobi
            |  
            a(href='https://plus.google.com/116756019035604334614') G+
            |  
            a(href='http://www.facebook.com/appMobi') FB
        .row
          .span1 Wrapper
          .span2
            a(href='http://www.appcelerator.com/') Appcelerator Titanium
          .span2
            a(href='http://www.appcelerator.com/company/') Appcelerator, Inc.
          .span1
            a(href='https://github.com/appcelerator') GitHub
          .span2
            a(href='http://developer.appcelerator.com/documentation') Docs
            |  | 
            a(href='http://www.appcelerant.com/') Appcelerant
          .span2
            a(href='http://twitter.com/appcelerator') @appcelerator
            |  
            a(href='https://plus.google.com/113266658339161020416') G+
            |  
            a(href='http://www.facebook.com/appMobi') FB
        .row
          .span1 Wrapper
          .span2
            a(href='http://www.applicationcraft.com/') Application Craft
          .span2
            a(href='http://www.applicationcraft.com/comp-team') Team
          .span1 -
          .span2
            a(href='http://www.applicationcraft.com/developers') Developer Docs
          .span2
            a(href='http://twitter.com/appcrafty') @appcrafty
            |  
            a(href='https://plus.google.com/114193155177577005539') G+
            |  
            a(href='http://www.facebook.com/pages/Application-Craft/172644319450190') FB
            |  
            a(href='http://www.youtube.com/user/appcrafty') YouTube
        .row
          .span1 Wrapper
          .span2
            a(href='http://www.cloudpact.com/') CloudPact
          .span2
            a(href='http://www.cloudpact.com/aboutus.jsp') CloudPact
          .span1 -
          .span2
            a(href='http://docs.cloudpact.com/') Docs
          .span2
            a(href='http://twitter.com/cloudpact') @cloudpact
            |  
            a(href='http://www.facebook.com/pages/CloudPact/198171863555220') FB
        .row
          .span1 Wrapper
          .span2
            a(href='http://www.cloudpact.com/') CloudPact
          .span2
            a(href='http://www.cloudpact.com/aboutus.jsp') CloudPact
          .span1 -
          .span2
            a(href='http://docs.cloudpact.com/') Docs
            |  | 
            a(href='http://api.cloudpact.com/') API
          .span2
            a(href='http://twitter.com/cloudpact') @cloudpact
            |  
            a(href='http://www.facebook.com/pages/CloudPact/198171863555220') FB
        .row
          .span1 Wrapper
          .span2
            a(href='http://feedhenry.com/') FeedHenry
          .span2
            a(href='http://feedhenry.com/about-feedhenry/') FeedHenry Ltd.
          .span1 -
          .span2
            a(href='http://docs.feedhenry.com/') Docs
          .span2
            a(href='http://twitter.com/feedhenry') @feedhenry
            |  
            a(href='https://plus.google.com/107132444646059197484') G+
            |  
            a(href='http://www.facebook.com/pages/FeedHenry/132199200140875') FB

        .row
          h3.span10 node.js module search
        .row
          .span1 Module search
          .span2
            a(href='http://search.npmjs.org/') Search NPM
          .span2 -
          .span1 -
          .span2 -
          .span2 -
        .row
          .span1 Module search
          .span2
            a(href='http://toolbox.no.de/') no.de toolbox
          .span2 -
          .span1 -
          .span2 -
          .span2 -
        .row
          .span1 Module search
          .span2
            a(href='https://github.com/joyent/node/wiki/modules') Node modules in GitHub
          .span2 -
          .span1 -
          .span2 -
          .span2 -

        .row
          h3.span10 Node support components
        .row
          .span1 Support
          .span2
            a(href='http://npmjs.org/') npm
            |  - Node Package Manager
          .span2
            a(href='http://blog.izs.me/') Isaac Z. Schlueter
          .span1
            a(href='https://github.com/isaacs/npm') GitHub
          .span2
            a(href='http://npmjs.org/doc/') Docs
          .span2
            a(href='http://twitter.com/izs') @izs
            |  
            a(href='https://plus.google.com/108970487578797743871') G+
        .row
          .span1 Support
          .span2
            a(href='https://github.com/visionmedia/n') n
            |  - Version management for Node binaries
          .span2
            a(href='http://tjholowaychuk.com/') TJ Holowaychuk
          .span1
            a(href='https://github.com/visionmedia/n') GitHub
          .span2 -
          .span2
            a(href='https://twitter.com/tjholowaychuk') @TJHolowaychuk
            |  
            a(href='https://plus.google.com/104794356253021950055') G+

        .row
          h3.span10 Frameworks
        .row
          .span1 Framework
          .span2
            a(href='http://socket.io/') socket.io
            |  - Realtime application framework
          .span2
            a(href='http://devthought.com/') Guillermo Rauch
          .span1
            a(href='https://github.com/LearnBoost/socket.io') GitHub
          .span2
            a(href='http://socket.io/#how-to-use') How to use
            |  | 
            a(href='https://github.com/learnboost/socket.io/wiki/') Wiki
          .span2
            a(href='http://twitter.com/socketio') @SocketIO
            |  
            a(href='http://twitter.com/rauchg') @rauchg
            |  
            a(href='https://plus.google.com/116038254606604789148') G+
        .row
          .span1 Framework
          .span2
            a(href='http://expressjs.com/') express
          .span2
            a(href='http://tjholowaychuk.com/') TJ Holowaychuk
          .span1
            a(href='https://github.com/visionmedia/express') GitHub
          .span2
            a(href='http://expressjs.com/guide.html') Guide
            |  
            a(href='https://github.com/visionmedia/express/wiki') Wiki
          .span2
            a(href='http://twitter.com/tjholowaychuk') @TJHolowaychuk
            |  
            a(href='https://plus.google.com/104794356253021950055') G+
        .row
          .span1 Framework
          .span2
            a(href='http://flatironjs.org/') flatiron
            |  for node.js
          .span2
            a(href='https://github.com/flatiron') flatiron team
          .span1
            a(href='http://github.com/flatiron/flatiron') GitHub
          .span2
            a(href='http://flatironjs.org/#routing') Docs
          .span2
            a(href='http://twitter.com/flatironjs') @flatironjs
        .row
          .span1 Framework
          .span2
            a(href='http://www.senchalabs.org/connect/') connect
            |  - middleware framework for node
          .span2
            a(href='http://www.senchalabs.org/') Sencha Labs
          .span1
            a(href='https://github.com/senchalabs/Connect') GitHub
          .span2
            Docs: 
            a(href='http://www.senchalabs.org/connect/connect.html') connect
            |  
            a(href='http://www.senchalabs.org/connect/http.html') http
            |  
            a(href='http://www.senchalabs.org/connect/https.html') https
          .span2
            a(href='http://twitter.com/sencha') @sencha
            |  
            a(href='https://plus.google.com/109552290213813788326') G+
        .row
          .span1 Framework
          .span2
            a(href='http://batmanjs.org/') batman.js
          .span2
            a(href='http://www.shopify.com/') Shopify
          .span1
            a(href='http://github.com/Shopify/batman') GitHub
          .span2
            a(href='http://batmanjs.org/documentation.html') Docs
            |  
            a(href='http://batmanjs.org/examples.html') Examples
          .span2
            a(href='http://twitter.com/shopify') @shopify
            |  
            a(href='https://plus.google.com/105108679568268121500') G+
            |  
            a(href='http://facebook.com/Shopify') FB

        .row
          h3.span10 Other Modules
        .row
          .span1 Language
          .span2
            a(href='http://learnboost.github.com/stylus/') Stylus
            |  - Expressive, dynamic, robust CSS language for node.js
          .span2
            a(href='http://www.learnboost.com/') LearnBoost
          .span1
            a(href='https://github.com/learnboost/stylus') GitHub
          .span2
            a(href='http://learnboost.github.com/stylus/') Docs
          .span2
            a(href='https://twitter.com/learnboost') @learnboost
            |  
            a(href='https://plus.google.com/111048661781878838333') G+
        .row
          .span1 Engine
          .span2
            a(href='http://node.io/') node.io
            |  - A distributed data scraping and processing engine for Node.js
          .span2
            a(href='http://chris6f.com/') Chris O'Hara
          .span1
            a(href='https://github.com/chriso/node.io') GitHub
          .span2
            a(href='https://github.com/chriso/node.io/wiki') Wiki
          .span2
            a(href='http://twitter.com/chris6F') @chris6F
            |  
            a(href='https://plus.google.com/104811688820358929312') G+
        .row
          .span1 Engine
          .span2
            a(href='http://jade-lang.com/') Jade
            |  - Node Template Engine
          .span2
            a(href='http://tjholowaychuk.com/') TJ Holowaychuk
          .span1
            a(href='https://github.com/visionmedia/jade') GitHub
          .span2
            a(href='https://github.com/visionmedia/jade#readme') Docs
          .span2
            a(href='https://twitter.com/tjholowaychuk') @TJHolowaychuk
            |  
            a(href='https://plus.google.com/104794356253021950055') G+
        .row
          .span1 Engine
          .span2
            a(href='https://github.com/raycmorgan/Mu') Mu
            |  - A Node.js Mustache template engine (and compiler)
          .span2
            a(href='https://github.com/raycmorgan') RayMorgan
          .span1
            a(href='https://github.com/raycmorgan/Mu') GitHub
          .span2
            a(href='https://github.com/raycmorgan/Mu#readme') Read me
          .span2
            a(href='https://twitter.com/raycmorgan') @raycmorgan
        .row
          .span1 Module
          .span2
            a(href='https://github.com/caolan/async') Async.js
          .span2
            a(href='http://caolanmcmahon.com/') Caolan McMahon
          .span1
            a(href='https://github.com/caolan/async') GitHub
          .span2
            a(href='https://github.com/caolan/async#readme') Docs
          .span2
            a(href='https://twitter.com/caolan') @caolan
            |  
            a(href='https://plus.google.com/111066773129094030318') G+
        .row
          .span1 Module
          .span2
            a(href='https://github.com/substack/dnode') dnode
            |  - Freestye RPC for node.js
          .span2
            a(href='http://substack.net/') James Halliday
          .span1
            a(href='https://github.com/substack/dnode') GitHub
          .span2
            a(href='https://github.com/substack/dnode#readme') Docs
          .span2
            a(href='https://twitter.com/substack') @substack
            |  
            a(href='http://facebook.com/substack') FB
            |  
            a(href='https://plus.google.com/114198465647271367011') G+
        .row
          .span1 Library
          .span2
            a(href='https://github.com/flatiron/winston') winston
            |  - A multi-transport async logging library for node.js
          .span2
            a(href='http://www.charlierobbins.com/') Charlie Robbins
          .span1
            a(href='https://github.com/flatiron/winston') GitHub
          .span2
            a(href='https://github.com/flatiron/winston#readme') Read me
          .span2
            a(href='http://twitter.com/indexzero') @indexzero
            |  
            a(href='https://plus.google.com/111039286708919279265') G+
        .row
          .span1 Framework
          .span2
            a(href='http://visionmedia.github.com/mocha/') Mocha
            |  - JavaScript Test Framework
          .span2
            a(href='http://tjholowaychuk.com/') TJ Holowaychuk
          .span1
            a(href='https://github.com/visionmedia/mocha') GitHub
          .span2
            a(href='http://visionmedia.github.com/mocha/') Docs
          .span2
            a(href='https://twitter.com/tjholowaychuk') @TJHolowaychuk
            |  
            a(href='https://plus.google.com/104794356253021950055') G+
        .row
          .span1 Framework
          .span2
            a(href='http://vowsjs.org/') Vows
            |  - Asynchronous BDD for node
          .span2
            a(href='http://cloudhead.io/') Alexis Sellier
          .span1
            a(href='https://github.com/cloudhead/vows') GitHub
          .span2
            a(href='http://vowsjs.org/#docs') Guide
          .span2
            a(href='https://twitter.com/cloudhead') @cloudhead
            |  
            a(href='https://plus.google.com/116180841931139036338') G+
        .row
          .span1 Framework
          .span2
            a(href='http://www.senchalabs.org/philogl/') PhiloGL
            |  - WebGL Framework
          .span2
            a(href='http://philogb.github.com/') Nicolas Garcia Belmonte
            |  | 
            a(href='http://blog.thejit.org/') Blog
            |  | 
            a(href='http://cv.thejit.org/') CV
          .span1
            a(href='https://github.com/senchalabs/philogl') GitHub
          .span2
            a(href='http://www.senchalabs.org/philogl/docs.html') Docs
          .span2
            a(href='http://twitter.com/philogb') @philogb
            |  
            a(href='https://plus.google.com/102991510215683700276') G+
        .row
          .span1 Framework
          .span2
            a(href='http://thejit.org/') InfoVis
            |  - 
            a(href='http://philogb.github.com/infovis/') JavaScript InfoVis Framework
          .span2
            a(href='http://philogb.github.com/') Nicolas Garcia Belmonte
            |  | 
            a(href='http://blog.thejit.org/') Blog
            |  | 
            a(href='http://cv.thejit.org/') CV
          .span1
            a(href='https://github.com/philogb/jit') GitHub
          .span2
            a(href='http://thejit.org/docs/') Docs
          .span2
            a(href='http://twitter.com/philogb') @philogb
            |  
            a(href='https://plus.google.com/102991510215683700276') G+

        a(name='server-jvm')
          h2.span10 Server side - JVM
        .row
          .span1 Stack
          .span2
            a(href='http://www.typesafe.com/') Typesafe
          .span2
            a(href='http://lampwww.epfl.ch/~odersky/') Martin Odersky
            |  Jonas Bonér
            |  Paul Phillips 
            a(href='http://www.typesafe.com/company/team') Typesafe team
          .span1
            a(href='http://www.typesafe.com/stack/download') Download
          .span2
            a(href='http://www.typesafe.com/resources/documentation') Docs
          .span2
            a(href='http://twitter.com/typesafe') @typesafe
            |  
            a(href='https://plus.google.com/117708211719030258230') G+
            |  
            a(href='http://twitter.com/odersky') @odersky
            |  
            a(href='https://plus.google.com/100317052151599901338') G+
            |  
            a(href='http://twitter.com/jboner') @jboner
        .row
          .span1 Platform
          .span2
            a(href='http://www.playframework.org') Play! Framework
          .span2 - 
          .span1 - 
          .span2 -
          .span2 -

        .row
          #note.span10 Prepared by: 
            a(href='https://github.com/newtrin0')
              sub Neνtrino
              sup 2012
